body {
    background-color: #828d99;
    color: #ffffff;
    padding-top: 70px;
}

.navbar {
    background-color: #343a40 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #61dafb;
    font-weight: bold;
}

.form-control {
    width: 600px;
    background-color: rgb(146, 159, 173);
    color: #ffffff;
    border-color: #495057;
}

.btn-outline-success {
    color: #6f9b79;
    border-color: #6f9b79;
}

.btn-outline-success:hover {
    background-color: #47c966;
}

.navbar-toggler {
    background-color: #6f9b79;
    border-color: #6f9b79;
}

.navbar-toggler-icon {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #495057;
}

@media (max-width: 899px) {
    .form-control {
      width: 200px;
    }
}

@media (max-width: 477px) {
    .form-control {
      width: 150px;
    }
}

.video-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.video-container h3 {
    margin-bottom: 10px;
    color: #333;
}

.video-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

  /* Additional CSS for Buttons */
.video-container button {
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-align: left;
    color: inherit;
}

.video-content {
    display: flex;
    align-items: center;
}
  
.video-content img {
    max-width: 150px; /* Adjust as needed */
    margin-right: 10px; /* Add spacing between thumbnail and text */
}
  
.video-content h3 {
    margin: 0;
    color: #333;
}