<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Video Streaming Page</title>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/styles.css' %}">

</head>

<body>
  <div id="video-container">
    <video
      id="my-video"
      controls
      preload="auto"
      height="80%"
      width="100%"
    >
      Your browser does not support the video tag.
    </video>

    <div id="video-info">
      <div id="video-name">Video Name Goes Here</div>
      <div id="playback-info"></div>
      <div id="quality-control">
        <label for="quality-select">Quality:</label>
          <select id="quality-select" onchange="changeVideoQuality()">
            <option value="144">144p</option>
            <option value="240">240p</option>
            <option value="360">360p</option>
            <option value="480">480p</option>
            <option value="720">720p</option>
            <option value="1080">1080p</option>
            <option value="2160">2160p</option>
          </select>
        {% comment %} <button onclick="toggleQualityOptions()">Select Quality</button>  {% endcomment %}
      </div>
    </div>
  </div>

  <!-- Your HTML code remains unchanged -->

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyDHf0eey5B28cmYuVg32hu9QhglbFzyODw",
    authDomain: "video-stream-3928b.firebaseapp.com",
    projectId: "video-stream-3928b",
    storageBucket: "video-stream-3928b.appspot.com",
    messagingSenderId: "872282647241",
    appId: "1:872282647241:web:4547d6c052506af1a93b18",
    measurementId: "G-WNHTRREFDJ"
  };

  firebase.initializeApp(firebaseConfig);

  var storageRef = firebase.storage().ref();
  var resourceName = "{{ video_name }}";

  var video = document.getElementById("my-video");
  var videoInfo = document.getElementById("video-info");
  var videoName = "{{ video_name }}";
  document.getElementById("video-name").innerText = videoName;
  var playbackInfo = document.getElementById("playback-info");
  var qualityControl = document.getElementById("quality-control");

  var isOnline = navigator.onLine;
  var storageKey = "videoPlaybackTime";
  var intervalTime = 1; // Save every second
  var qualityCheckInterval = 5000; // Check quality every 5 seconds
  var qualityList = document.getElementById("quality-select");

  // Function to save the current playback time in local storage
  function savePlaybackTime() {
    localStorage.setItem(storageKey, video.currentTime.toString());
  }

  function handleVideoError() {
    playbackInfo.innerText = "Error playing the video. Please try again later.";
  }

  function getAvailableQualities() {
    // Fetch available qualities from your Firebase storage
    // You need to implement your logic to get the available qualities
    // This is a placeholder; replace it with your actual implementation
    return [
      { label: "144p", url: `${resourceName}-144.mp4` },
      { label: "240p", url: `${resourceName}-240.mp4` },
      { label: "360p", url: `${resourceName}-360.mp4` },
      { label: "480p", url: `${resourceName}-480.mp4` },
      { label: "720p", url: `${resourceName}-720.mp4` },
      { label: "1080p", url: `${resourceName}-1080.mp4` },
      { label: "2160p", url: `${resourceName}-2160.mp4` },
    ];
  }

  function getAdjustedQuality(downlinkSpeed) {
    // Add your logic here to adjust quality based on downlink speed
    // You can customize this function according to your requirements

    if (downlinkSpeed >= 20) {
      return getAvailableQualities()[6];
    }
    else if (downlinkSpeed >= 4) {
      return getAvailableQualities()[5]; // 1080p for downlink speed >= 4 Mbps
    } else if (downlinkSpeed >= 2.5) {
      return getAvailableQualities()[4]; // 720p for 2.5 Mbps <= downlink speed < 4 Mbps
    } else if (downlinkSpeed >= 1.1) {
      return getAvailableQualities()[3]; // 480p for 1.1 Mbps <= downlink speed < 2.5 Mbps
    } else if (downlinkSpeed >= 0.7) {
      return getAvailableQualities()[2]; // 360p for 0.7 Mbps <= downlink speed < 1.1 Mbps
    } else if (downlinkSpeed >= 0.5) {
      return getAvailableQualities()[1]; // 240p for 0.5 Mbps <= downlink speed < 0.7 Mbps
    } else {
      return getAvailableQualities()[0]; // 144p for downlink speed < 0.5 Mbps
    }
  }

  function setVideoSource(quality) {
  var storedTime = localStorage.getItem(storageKey);

  // Pause the video before changing the source
  video.pause();

  var videoRef = storageRef.child(quality.url);

  videoRef
    .getDownloadURL()
    .then(function (url) {
      // Set the video source and load
      video.src = url;
      video.load();

      // Listen for the loadedmetadata event before playing
      video.addEventListener(
        'loadedmetadata',
        function () {
            // Check if the video has been played once
            if (storedTime) {
              // Resume playback from the stored time
              video.currentTime = parseFloat(storedTime);
            }
            video.play(); // Play the video after loadedmetadata event
        },
        { once: true } // Use { once: true } to ensure the event listener runs only once
      );

      // Update the quality control display
      qualityControl.innerText = `Quality: ${quality.label}`;
    })
    .catch(function (error) {
      console.error("Error getting download URL: ", error);
    });
}

  let adjustedQuality = {label:"",url:""}

  function updateQuality() {
  isOnline = navigator.onLine;
  if (isOnline) {
    // Use the navigator.connection API to determine downlink speed
    var downlinkSpeed = navigator.connection.downlink;

    // Adjust quality based on downlink speed
    var currAdjustedQuality = getAdjustedQuality(downlinkSpeed);
    // console.log(currAdjustedQuality.label);
    if (currAdjustedQuality.label != adjustedQuality.label) {
      // Set the video source to the adjusted quality
      adjustedQuality = currAdjustedQuality;
      qualityControl.innerText = `Quality: ${currAdjustedQuality.label}`;
      setVideoSource(currAdjustedQuality);
    }
  }
}

window.addEventListener("load", function () {
  // Set the initial quality based on downlink speed
  var downlinkSpeed = navigator.connection.downlink;
  var initialQuality = getAdjustedQuality(downlinkSpeed);
  setVideoSource(initialQuality);
});

  // Fetch available qualities and update the quality list
  updateQualityList();

  function updateQualityList() {
    var availableQualities = getAvailableQualities();

    // Clear existing options
    qualityList.innerHTML = "";

    // Add new options
    availableQualities.forEach(function (quality) {
      var option = document.createElement("option");
      option.value = quality.label;
      option.text = quality.label;
      qualityList.add(option);
    });
  }

  function changeVideoQuality() {
    var selectedQuality = qualityList.value;
    var availableQualities = getAvailableQualities();
    var selectedQualityObj = availableQualities.find(
      (quality) => quality.label === selectedQuality
    );

    setVideoSource(selectedQualityObj);
  }

  // Add event listener for network change
  window.addEventListener("online", function () {
    playbackInfo.innerText = "Online - Resuming playback";
    window.setTimeout(() => {
      playbackInfo.innerText = "";
    }, 5000);
    // updateQuality();
    video.play()
  });

  window.addEventListener("offline", function () {
    video.pause();
    playbackInfo.innerText = "Offline - Video paused";
    // updateQuality();
  });

  // Initialize video source based on initial network conditions
  updateQuality();

  // Periodically check network speed and update quality
  setInterval(updateQuality, qualityCheckInterval);

  var video = document.getElementById("my-video");
  var qualityList = document.getElementById("quality-select");

  // Save the current playback time every second
  setInterval(savePlaybackTime, intervalTime * 1000);

  // // Clear stored playback time on play
  // video.addEventListener("play", function () {
  //   localStorage.removeItem(storageKey);
  // });

  // Event listener for video ended
  video.addEventListener("ended", function () {
    playbackInfo.innerText = "Video ended";
  });

  // Event listener for video error
  video.addEventListener("error", handleVideoError);
</script>

</body>
</html>